<!DOCTYPE html>
<html>
  <head>
    <title>CbrCurrency</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag "application", "data-turbo-track": "reload" %>
    <%= javascript_include_tag 'https://d3js.org/d3.v5.min.js', 'https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.js' %>
    <%= stylesheet_link_tag 'https://cdnjs.cloudflare.com/ajax/libs/c3/0.7.20/c3.min.css' %>
    <%= javascript_include_tag "application", "data-turbo-track": "reload", defer: true %>
  </head>

  <body>
    <div class="container">
      <nav class="navbar navbar-expand-lg bg-body-tertiary">
        <div class="container-fluid">
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item"><%= link_to 'Home', '/', class: 'nav-link' %></li>
              <li class="nav-item"><%= link_to 'Table', currency_table_path, class: 'nav-link' %></li>
            </ul>
          </div>
        </div>
      </nav>

      <%= yield %>
    </div>
  </body>
</html>
